<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post">
    {% csrf_token %}
    <div style="text-align:center;margin-top:240px;">
        <h1>Proceed to Payment</h1>
        <h2>{{customer.Username}}</h2>
        <input type="hidden" name="">

        <button class="btn">Make Payment</button>
    </div>
</form>


</body>
</html>
<style>
    button{
    color:#ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color:#a30217;
    width: 200px;
    height:40px;
    border: solid 1 px whitesmoke;
    border-radius: 15px;
}

    body{
    background-image:url({% static 'homestyle/1.jpg' %});
    display:flex;
    justify-content:center;
    align-items:center;


}

</style>

<script src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_F4HEc8QkaBMTNE"
    data-amount="{{ payy_str }}"
    data-currency="INR"
    data-order_id="{{ payment.order_id }}"
    data-buttontext=""
    data-name="Textile Shop"
    data-description="Your description"
    data-image=""
    data-prefill.name="abc"
    data-prefill.email="abc@gmail.com"
    data-theme.color="#4badeb">

</script>