<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cake Template">
    <meta name="keywords" content="Cake, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cake | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/barfiller.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__cart">
            <div class="offcanvas__cart__links">
<!--                <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>-->
                <a href="{% url 'wishlist' %}"><img src="{% static 'img/icon/heart.png' %}" alt=""></a>
            </div>
            <div class="offcanvas__cart__item">
                <a href="{% url 'cart_page' %}"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span>0</span></a>
<!--                <div class="cart__price">Cart: <span>$0.00</span></div>-->
            </div>
        </div>
        <div class="offcanvas__logo">
            <a href="{% url 'all_products' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__option">
            <ul>
                <li>USD <span class="arrow_carrot-down"></span>
                    <ul>
                        <li>EUR</li>
                        <li>USD</li>
                    </ul>
                </li>
                <li>ENG <span class="arrow_carrot-down"></span>
                    <ul>
                        <li>Spanish</li>
                        <li>ENG</li>
                    </ul>
                </li>
                <li><a href="#">Sign in</a> <span class="arrow_carrot-down"></span></li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
     <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header__top__inner">
                            <div class="header__top__left">
                                <ul>

                                    {% if request.session.Username %}
                                <li><a href="{% url 'User_logout' %}">Welcome {{request.session.Username}} / Logout</a></li>
                                    {% else %}
                                    <li><a href="{% url 'loginpage' %}">Sign in</a></li>
                                        {% endif %}
                                </ul>
                            </div>
                            <div class="header__logo">
                                <a href="{% url 'all_products' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                            </div>
                            <div class="header__top__right">
                                <div class="header__top__right__links">
<!--                                    <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>-->
                                    <a href="{% url 'wishlist' %}"><img src="{% static 'img/icon/heart.png' %}" alt=""></a>
                                </div>
                                <div class="header__top__right__cart">
                                    <a href="{% url 'cart_page' %}"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span>0</span></a>
<!--                                    <div class="cart__price">Cart: <span>$0.00</span></div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas__open"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="{% url 'homepage' %}">Home</a></li>
                            <li><a href="{% url 'aboutpage' %}">About</a></li>
                            <li><a href="{% url 'all_products' %}">Shop</a></li>
                            <li><a href="#">Categories</a>
                                <ul class="dropdown">
                                    {% for i in cat %}
                                    <li><a href="{% url 'filtered_products' cat_name=i.CategoryName %}">{{i.CategoryName}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="#">More</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'testimonials' %}">Testimonials</a></li>
                                    <li><a href="{% url 'cart_page' %}">Shopping Cart</a></li>
                                    <li><a href="{% url 'checkout_page' %}">Check Out</a></li>
                                    <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                                    <li><a href="{% url 'class_list_view' %}">Class</a></li>

                                </ul>
                            </li>
<!--                            <li><a href="./blog.html">Chat</a></li>-->

                            <li><a href="{% url 'Contactpage' %}">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>Product detail</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="{% url 'homepage' %}">Home</a>
                        <a href="{% url 'all_products' %}">Shop</a>
                        <span>{{product.ProductName }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                  <div class="col-lg-6">
                <div class="product__details__img">
                        <div class="product__details__big__img">
                            <img class="big_img" src="{{product.ProductImage4.url}}" alt="" >
                          </div>

                        <div class="product__details__thumb">
                            <div class="pt__item active">
                                <img data-imgbigurl="{{product.ProductImage.url}}"
                                src="{{product.ProductImage.url}}" alt="">
                            </div>
                            <div class="pt__item">
                                <img data-imgbigurl="{{product.ProductImage1.url}}"
                                src="{{product.ProductImage1.url}}" alt="">
                            </div>
                            <div class="pt__item">
                                <img data-imgbigurl="{{product.ProductImage2.url}}"
                                src="{{product.ProductImage2.url}}" alt="">
                            </div>

                            <div class="pt__item">
                                <img data-imgbigurl="{{product.ProductImage3.url}}"
                                src="{{product.ProductImage3.url}}" alt="">
                            </div>

                            <div class="pt__item">
                                <img data-imgbigurl="{{product.ProductImage4.url}}"
                                src="{{product.ProductImage4.url}}" alt="">
                            </div>

                        </div>
                    </div>
               </div>
                <div class="col-lg-6">
                    <div class="product__details__text" >

                        <div class="product__label">{{CategoryName }}</div>



                        <h4>{{product.ProductName }}</h4>
                        <h5>₹ {{ product.Price }}</h5>
                        <p>{{product.Description}}</p>
                        <ul>
                           <li>PID: <span>{{product.id}}</span></li>
                            <li>Category: <span>{{CategoryName }}</span></li>
                            <li> Dietary:<span>Vegan, Gluten-Free, Dairy-Free, Sugar-Free</span></li>
                      </ul>
                        <form method="post" action="{% url 'save_cart' %}">
                        {% csrf_token %}
                        <div class="product__details__option">
                            <div class="quantity">
                                <div class="mb-3">
                                        <input type="number" value="1" class="form-control" min="1" id="quantity" name="quantity">
                                    </div>
                                <div class="mb-3">
                                        <input type="hidden" placeholder="Price" value="{{product.Price}}" name="price" id="price" class="form-control">
                                    </div>

                                     <div class="mb-3">
                                        <input type="hidden" placeholder="Username" value="{{request.session.Username}}" name="user" class="form-control" readonly>
                                    </div>

                                     <div class="mb-3">
                                        <input type="hidden" placeholder="Productname" value="{{product.ProductName}}" name="name"  class="form-control">
                                    </div>

                                    <div class="mb-3">
                                        <input type="number" placeholder="Total Price" name="total" id="totalprice" class="form-control" >
                                    </div>
                            </div>

                            <button type="submit" class="primary-btn">Add to cart</button>
                        </div>
                        </form>
                            </div>


                            <form action="{% url 'save_wishlist'  %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="user" value="{{ request.session.Username }}">
                                <input type="hidden" name="pro_name" value="{{ product.ProductName }}">
                                <input type="hidden" name="price" value="{{ product.Price }}">
                                <input type="hidden" name="in_stock" value="in_stock">
                                <button type="submit" class="heart__btn"style="
    background-color:white;
    border: #FF8C00; /* Remove border */
    color: #FF8C00; /* Text color */
    padding: 10px 15px; /* Padding around text */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor type */
    border-radius: 0px; /* Circular button */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: inline-flex; /* Flex display */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
"><span class="icon_heart_alt"></span></button>
                            </form>

                    </div>





                        </div>
                        </form>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <div class="product__details__tab">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Additional information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Previews(1)</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8">
                                    <p>{{product.Description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8">
                                    <p>Our pastry chefs use only the finest ingredients, from farm-fresh fruits to premium chocolates, to create desserts that are not only delicious but also visually stunning. Each treat is a work of art, meticulously crafted to provide a perfect balance of flavors and textures.Indulge in the rich, comforting flavors of our traditional desserts, whatever you choose, you’ll find that each bite is a little slice of heaven, made with love and a passion for perfection.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8">
                                    <p>Step into a world of sweetness at our Cafe, where our desserts are more than just treats—they’re experiences. Each dessert on our menu is thoughtfully crafted to bring you a perfect balance of flavors and textures, from rich, decadent cakes to light, refreshing pastries. Whether you're craving a classic favorite or something with a modern twist, you'll find a dessert that hits the spot. Join us and discover your new favorite sweet indulgence.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Details Section End -->

    <!-- Related Products Section Begin -->
    <section class="related-products spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Related Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="related__products__slider owl-carousel">
                    {% for product in products %}
                    <div class="col-lg-3">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{product.ProductImage.url}}">
                                <div class="product__label">
                                    <span>{{CategoryName}}</span>
                                </div>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">{{product.ProductName}}</a></h6>
                                <div class="product__item__price"> ₹ {{product.Price}}</div>
                                <div class="cart_add">
                                    <a href="{% url 'single_product' pro_id=product.id %}">More details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>
        </div>
    </section>
    <!-- Related Products Section End -->

    <!-- Footer Section Begin -->
 <footer class="footer set-bg" data-setbg="{% static 'img/footer-bg.jpg' %}">
        <div class="container">
            <div class="row">
                 {% for footer in footers %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>WORKING HOURS</h6>
                        <ul>
                            <li>{{footer.Description1}}</li>
                            <li>{{footer.Description2}}</li>
                            <li>{{footer.Description3}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="{% url 'all_products' %}"><img src="{% static 'img/footer-logo.png' %}" alt=""></a>
                        </div>
                        <p>{{footer.Description4}}</p>
                       <div class="footer__social">
                            <a href="https://www.facebook.com/login/"><i class="fa fa-facebook"></i></a>
                            <a href="https://x.com/i/flow/login"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.youtube.com/@PreppyKitchen"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__newslatter">
                        <h6>Subscribe</h6>
                        <p>{{footer.Description5}}</p>
                        <p>{{footer.Email}}</p>

<!--                            <button type="submit"><i class="fa fa-send-o"></i></button>-->

                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
<!--                    <div class="col-lg-7">-->
<!--                        <p class="copyright__text text-white">&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!--                      </p>-->
<!--                  </div>-->
<!--                  <div class="col-lg-5">-->
<!--                    <div class="copyright__widget">-->
<!--                        <ul>-->
<!--                            <li><a href="#">Privacy Policy</a></li>-->
<!--                            <li><a href="#">Terms & Conditions</a></li>-->
<!--                            <li><a href="#">Site Map</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
                {% endfor %}
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.barfiller.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


<script>
    $(document).ready(function(){
           $("#quantity").change(function(){
                x=document.getElementById("quantity").value;
                y=document.getElementById("price").value;
                result=x*y;
                document.getElementById("totalprice").value=result;

       })
   })
</script>

<script> window.chtlConfig = { chatbotId: "9864962269" } </script>
<script async data-id="9864962269" id="chatling-embed-script" type="text/javascript" src="https://chatling.ai/js/embed.js"></script>

</body>

</html>