<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Register Page</h1>
<div style="text-align:center;">
<form >

<input type="text" placeholder="enter name"><br>

<input type="text" placeholder="enter age" ><br>
  <input type="text" placeholder="enter mobile no"><br>
  <input type="text" placeholder="enter email"><br>
    <input type="text" placeholder="enter address"><br>
      <input type="text" placeholder="enter course"><br>
      <input type="text" placeholder="enter place"><br>


</form>
</body>
</html>